<div class="card text-center">

    <div class="card-header">
        Insira os dados abaixo para atualizar os saldos
    </div>

    <div class="card-body">
        
        <form action="/scraper-balance" method="post">
            <label> Nº de Operador</label>
            <input type="text" name="account">
            <label> Senha</label>
            <input type="password" name="password">
            <button type="submit" class="btn btn-primary">Atualizar Saldos</button>
        </form>

    </div>

</div>