<div class="card text-center">

    <div class="card-header">
        Insira os dados abaixo para extrair os dados do cartão
    </div>

    <div class="card-body">
        
        <form action="/card-scraper" method="post">
            <label>Username</label>
            <input type="text" name="account">
            <label>Senha</label>
            <input type="password" name="password">
            <button type="submit" class="btn btn-primary">Atualizar Saldos</button>
        </form>

    </div>

</div>