<div class="card text-center">
    <div class="card-header">
        Bem vindo
    </div>
    <div class="card-body">
        <h5 class="card-title">DataScrapper</h5>
        <p class="card-text">Este webscrapper foi feito por Wellington Junio De Melo Fernandes</p>
    </div>
    <div class="card-footer text-muted">
        Todos os direitos reservados.
    </div>
</div>